
.button a:link
{
    color: maroon;
    background-color: whitesmoke;
    text-decoration: none;
    text-align: center;
    font-family: verdana, Geneva, Tahoma, Sans-serif;
    padding: 10px;
}

.button a:visited
{
    color: darkslategray;
    background-color: rosybrown;
    text-decoration: none;
    text-align: center;
    font-family: verdana, Geneva, Tahoma, Sans-serif;
    padding: 10px;
}

.button a:hover
{
    color: darkseagreen;
    background-color: pink;
    text-decoration: underline;
    font-family: verdana, Geneva, Tahoma, Sans-serif;
    padding: 10px;
}

.button a:active
{
    color: indigo;
    background-color: thistle;
    text-decoration: none;
    padding: 10px;
}

.copyright-container {
    box-sizing: border-box;
    padding-right: 20px;
    padding-left: 20px;
    background-color: black;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    color: white;
  }